{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/ia-guidance",
      text: "IA guidance"
    }
  ],
  href: "/ia-guidance/process-by-scenario",
  text: "Process by scenario",
  classes: "app-breadcrumb"
}) }}
