{% from 'input/macro.njk' import input %}

{{ input({
  label: {
    text: "nhsuk-label--m",
    classes: "nhsuk-label--m"
  },
  hint: {
    text: "This example shows a <label> with the class of nhsuk-label--m"
  },
  id: "example",
  name: "example"
}) }}

{{ input({
  label: {
    text: "nhsuk-label--s",
    classes: "nhsuk-label--s"
  },
  hint: {
    text: "This example shows a <label> with the class of nhsuk-label--s"
  },
  id: "example-2",
  name: "example-2"
}) }}
