{% from 'input/macro.njk' import input %}

{{ input({
  label: {
    text: "nhsuk-label--l",
    classes: "nhsuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "This example shows an <h1> around a <label> with the class of nhsuk-label--l"
  },
  id: "example",
  name: "example"
}) }}
