{% set pageTitle = "Using GitHub to document community contributions" %}
{% set pageSection = "Community" %}
{% set pageDescription = "The community effort to improve and grow the service manual is recorded in the open. We do this using GitHub." %}
{% set dateUpdated = "July 2020" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "community/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>You will need a GitHub account to propose, develop or contribute to new components or patterns, or suggest improvements to ones that already exist. Without a GitHub account, you can only view what other people have contributed.</p>

  <p>If you do not have one already, you can <a href="https://github.com/join">create a GitHub account for free</a>.</p>

{% endblock %}
