{% set pageTitle = "Using GitHub to document community contributions" %}
{% set pageSection = "Community" %}
{% set pageDescription = "The community effort to improve and grow the service manual is recorded in the open. We do this using GitHub." %}
{% set dateUpdated = "July 2020" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "community/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>You will need a GitHub account to propose, develop or contribute to new components or patterns, or suggest improvements to ones that already exist. Without a GitHub account, you can only view what other people have contributed.</p>

  <p>If you do not have one already, you can <a href="https://github.com/join">create a GitHub account for free</a>.</p>

  <h2>Using GitHub to organise the backlog</h2>

  <p>We keep a list of the <a href="/community/backlog-of-components-and-patterns">components, patterns and updates currently on the service manual community backlog</a> on the service manual website. The <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog">full backlog is found in GitHub</a>, where the community can improve and grow the service manual in one shared space.</p>

  <p>We use GitHub to organise the community backlog because it:</p>

  <ul>
    <li>shows who is contributing</li>
    <li>records when contributions happen</li>
    <li>allows examples or evidence to be added to items in the backlog</li>
  </ul>

  <p>GitHub has built-in features that can be used to search and filter items in the community backlog.</p>

{% endblock %}
