{% set pageDescription = "Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first." %}
{% set pageLayout = "Homepage" %}

{% extends "includes/layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

<main id="maincontent" role="main">

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper app-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-4">Deliver impactful change for people with SMI</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Support service improvements to the Physical Health Checks for people with SMI pathway through Service Design practice</p>
          </div>
        </div>
        {# <div class="nhsuk-grid-column-one-third app-latest-update">
          <div class="nhsuk-card app-card--transparent nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/whats-new">What's new</a></h2>
              <p class="nhsuk-card__description">In December 2021 we published a new page where you can <a href="/accessibility/download-accessibility-posters">download accessibility posters</a></p>
            </div>
          </div>
        </div> #}
      </div>
    </div>
  </section>

  <section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
    <h2>Principles</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/service-standard">1: Put people at the heart of everything you do</a></h2>
              <p class="nhsuk-card__description">Focus on, and involve, relevant people at every stage of designing and iterating a new service</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system">2: Make, learn, iterate</a></h2>
              <p class="nhsuk-card__description">Start small and test early</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/content">3: Be holistic</a></h2>
              <p class="nhsuk-card__description">Take a step back and see how things connect</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/accessibility">4: Make things open, it makes things better</a></h2>
              <p class="nhsuk-card__description">Making things that are shareable, reusable, accessible</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/design-principles">5: Deliver measurable improvements</a></h2>
              <p class="nhsuk-card__description">Define, mesure, and demonstrate success</p>
            </div>
          </div>
        </li>
        {# <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/community-and-contribution">Community and contribution</a></h2>
              <p class="nhsuk-card__description">Help grow and improve the service manual</p>
            </div>
          </div>
        </li> #}
      </ul>
      <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
      <h2>Project guides</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/service-standard">How to plan and run a pilot</a></h2>
              {# <p class="nhsuk-card__description">Focus on, and involve, relevant people at every stage of designing and iterating a new service</p> #}
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system">How to update service user touchpoints</a></h2>
              {# <p class="nhsuk-card__description">Start small and test early</p> #}
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/content">How to update internal systems, processes, or content</a></h2>
              {# <p class="nhsuk-card__description">Take a step back and see how things connect</p> #}
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/accessibility">How to scale a service</a></h2>
              {# <p class="nhsuk-card__description">Making things that are shareable, reusable, accessible</p> #}
            </div>
          </div>
        </li>
        {# <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/design-principles">5: Deliver measurable improvements</a></h2>
              <p class="nhsuk-card__description">Define, mesure, and demonstrate success</p>
            </div>
          </div>
        </li> #}
        {# <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/community-and-contribution">Community and contribution</a></h2>
              <p class="nhsuk-card__description">Help grow and improve the service manual</p>
            </div>
          </div>
        </li> #}
      </ul>
      <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h2>Feedback</h2>
          <p>Let us know about your visit to the service manual today by emailing us at <a href="mailto:emma.storey@nhs.net">emma.storey@nhs.net</a></p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
